<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light">
    <title>Living Project - Content</title>
</head>
<body bgcolor="#eeeeee" text="#141414" style="margin:0 25px;padding:0;background-color:#eeeeee;color:#141414;font-size:18px;font-family:'Comic Sans MS',cursive,'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;-webkit-text-fill-color:#141414;">
    <div style="max-width:30rem;margin:0 auto;">
        <div style="padding:15px;">
            <div style="position:relative;">
                <div style="height:3rem;width:6rem;position:absolute;top:22.5px;left:0;text-indent:6px;font-weight:bold;line-height:3rem;color:#141414;-webkit-text-fill-color:#141414;background:linear-gradient(-63deg, rgba(0,0,0,0) 49%, #268f04 49.5%, #268f04 50.5%, rgba(0,0,0,0) 51%);">目录</div>
                <h2 style="display:block;height:50px;margin:43px 0 0 65px;padding:0;font-size:17px;font-weight:normal;line-height:50px;color:#141414;-webkit-text-fill-color:#141414;font-family:'Comic Sans MS',cursive,'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;">Living Project / 不可接触的</h2>
                <ul style="margin:0;padding:0;list-style:none;">
                    {% for collection in site.collections %}
                    {% if collection.label == "novels" %}
                        {% assign docs = collection.docs | sort: 'index'  %}
                        {% for post in docs %}
                        {% if post.index and post.url contains 'lp' %}
                    <li style="margin:0 0 12px 0;padding:8px 14px;background-color:#eeeeee;border:1px solid darkgray;border-radius:11px;font-family:'IBM Plex Sans',sans-serif;font-size:15px;line-height:25px;color:#141414;-webkit-text-fill-color:#141414;">
                        <a href="{{ post.url | relative_url }}" style="display:block;text-decoration:none;color:#141414;-webkit-text-fill-color:#141414;">{{ post.shortname }}{{ post.index }}. {{ post.title }}</a>
                    </li>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
